In [1]:
# %pwd # to find out the current directory

In [2]:
# !pip list # to find out all the packages installed or libraries installed through pip. firts # for commenting out code.

cell --> cell type --> markdown. This won't be a code, so won't give error when cell set to Markdown.

In [3]:
# %magic # gives descriptions and syntax of important commands

In [4]:
# %matplotlib inline # produces the graph in notebook.

In [5]:
# A and B inserts lines above and below respectively when in command mode. Shit + Enter to execute and insert new line.

In [6]:
%%HTML # will render the html directly without using the markdown. remove the comment from this line when executing since
# comments # and Headline # are confusing for pandas.
# Headline
This is a normal paragraph.
* Headline 
This headline starts *

In [7]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(10,5))
df

          0         1         2         3         4
0  2.631330 -0.549266  0.155347 -0.401034 -0.559429
1 -0.110374 -1.863833  1.639197  1.618043 -0.845606
2 -0.911859 -0.513068  0.025875 -0.728551 -0.637957
3  0.476563  0.731973  0.171280 -0.044156  0.096577
4 -0.969211 -0.233045 -0.422333 -1.362549  0.086703
5 -0.509633 -0.518329 -1.194440 -1.518687 -0.277885
6 -0.190255 -1.964059 -2.719731 -0.885336 -1.600010
7  1.268292  0.087871 -0.774812  0.554178 -0.350299
8 -0.331077  1.107083 -0.096465  0.242431  0.000325
9 -0.769547 -0.532461  0.075526  0.125229  1.684353

In [8]:
df.head()

          0         1         2         3         4
0  2.631330 -0.549266  0.155347 -0.401034 -0.559429
1 -0.110374 -1.863833  1.639197  1.618043 -0.845606
2 -0.911859 -0.513068  0.025875 -0.728551 -0.637957
3  0.476563  0.731973  0.171280 -0.044156  0.096577
4 -0.969211 -0.233045 -0.422333 -1.362549  0.086703

In [9]:
# file --> download as --> html for instance and save it for later reference or share on blog or udemy course etc.

In [10]:
# https://gist.github.com/ocoyawale/54d92fd4bf92508a2a6e482b5fa480fd # to access other people code. Download and open it
# and play with it for learning. Go to Introductory tutorials --> collection of notebooks --> Trapezoid Rule. Download and
# save it in current directory (command interface - pandas folder in this case) and run it from Notebook.