In [1]:
people = {
    'First': ['Corey', 'Jane', 'John'],
    'Last':  ['Schafer', 'Doe', 'Doe'],
    'Email': ['coreyschafer@email.com', 'janedoe@email.com', 'johndoe@email.com']
}
# a dictionary containining three key-value pairs, where each pair contains 3 values for each key.
# all the 3 values of each key are enclosed in their own list.
# pandas are two-way datastructures, meaning rows and columns.

In [2]:
people['First'] # when key given in [], then a list of all its meanings is given.

['Corey', 'Jane', 'John']

In [3]:
# people['First', 'Last', 'Email'] # cannot pass more than one key at a time. Data Frame (df) can be useful here.

In [4]:
import pandas as pd

In [5]:
df = pd.DataFrame(people) # pass the dictionary to the method DataFrame as an argument.

In [6]:
df # The keys produced as columns heading and their values underneath in each column. A table of rows and cloumns 
# produced. So, Data Frame is nothing but a two-dimensional data structure with rows and columns. The first untitled 
# column are index positions.

   First     Last                   Email
0  Corey  Schafer  coreyschafer@email.com
1   Jane      Doe       janedoe@email.com
2   John      Doe       johndoe@email.com

In [7]:
type(df) # the data type is DataFrame like int, string or user's defined datatype.

pandas.core.frame.DataFrame

In [8]:
df['First'] # produces all the meanings of the key, First. Or, produces all the values in the column titled, First. The
# datatype of data contained in First is object, which means string as shown below.

0    Corey
1     Jane
2     John
Name: First, dtype: object

In [9]:
type('First')# the datatype of data contained in column 'First' is string.

str

In [10]:
type(df['First']) # the datatype of 'dataframe First' is series which is a collection of data in a signle column. It is
# one-dimensional array. Series also has index positions.

pandas.core.series.Series

In [11]:
type(df)# the datatype of 'dataframe' is DataFrame, which is a collection of data in rows and columns. So, dataframe is 
# a combination or container of multiple series.

pandas.core.frame.DataFrame

In [12]:
df.First # produces the same output as produced by df['First']. The [] is preferable to avoid confusion with .attributes
# or .methods of dataframe.

0    Corey
1     Jane
2     John
Name: First, dtype: object

In [13]:
df[['First', 'Last']] # access multiple columns. Using [] is a must. Otherwise, panda may take, First and Last, as one
# argument and throws an error. Note that the output is dataframe and not series.

   First     Last
0  Corey  Schafer
1   Jane      Doe
2   John      Doe

In [14]:
df.columns # to see all the columns. Index means that the First is positioned on index 0, Last on 1, and Email on 3.

Index(['First', 'Last', 'Email'], dtype='object')

In [15]:
df.columns[0] # df.columns is a list so we can access its elements using index. We should be able to do other operations
# on it permissible on list.

'First'

In [16]:
df.iloc[0] # produces first row in dataframe. First, Last, and Email are indexes and have replaced 0, 1, 2 for better 
# readibility that first name is corey, the last name is schafer etc.

First                     Corey
Last                    Schafer
Email    coreyschafer@email.com
Name: 0, dtype: object

In [17]:
df

   First     Last                   Email
0  Corey  Schafer  coreyschafer@email.com
1   Jane      Doe       janedoe@email.com
2   John      Doe       johndoe@email.com

In [18]:
df.iloc[0][1] # 0 takes us to the first row, and 1 takes us to schafer. So, imagine it like a list within a list, nested
# sequence or nested list.

'Schafer'

In [19]:
df.iloc[[0, 1]] # will give the first two rows

   First     Last                   Email
0  Corey  Schafer  coreyschafer@email.com
1   Jane      Doe       janedoe@email.com

In [20]:
df.iloc[[0,1], 2] # 0 and 1 refers to first and secon rows as before and 2 refers to the 3rd column since it is located
# on index 2. Cannot write the column title, Email, since iloc is for integers.

0    coreyschafer@email.com
1         janedoe@email.com
Name: Email, dtype: object

In [21]:
df.iloc[[0, 1], [1, 2]] # 0, 1 for rows and 1, 2 for columns

      Last                   Email
0  Schafer  coreyschafer@email.com
1      Doe       janedoe@email.com

In [22]:
df

   First     Last                   Email
0  Corey  Schafer  coreyschafer@email.com
1   Jane      Doe       janedoe@email.com
2   John      Doe       johndoe@email.com

In [23]:
df.loc[[0, 1], ['Last', 'Email']] # with loc we can use the column headings.

      Last                   Email
0  Schafer  coreyschafer@email.com
1      Doe       janedoe@email.com