In [1]:
people = {
    'first': ['Corey', 'Jane', 'John'],
    'last':  ['Schafer', 'Doe', 'Doe'],
    'email': ['coreyschafer@email.com', 'janedoe@email.com', 'johndoe@email.com']
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people) # df is an object/instance of class, panda.DataFrame. Instance, df, created like emp_1 = 
# Employee('Cory', 'Schafer').

In [4]:
df

   first     last                   email
0  Corey  Schafer  coreyschafer@email.com
1   Jane      Doe       janedoe@email.com
2   John      Doe       johndoe@email.com

In [5]:
df['last']

0    Schafer
1        Doe
2        Doe
Name: last, dtype: object

In [6]:
df.set_index('email') # sets email addresses in email column as index positions. But won't be saved until panda is
# specifically instructed to do so. It is a good feature since it allows to play around with data without being worried 
# about messing up the data.

                        first     last
email
coreyschafer@email.com  Corey  Schafer
janedoe@email.com        Jane      Doe
johndoe@email.com        John      Doe

In [7]:
df # produces the same old dataframe without making email addresses as index positions.

   first     last                   email
0  Corey  Schafer  coreyschafer@email.com
1   Jane      Doe       janedoe@email.com
2   John      Doe       johndoe@email.com

In [8]:
df.set_index('email', inplace = True) # inplace = True tells pandas to make the changes asked for, that is, make email
# addresses as index positions. df is an instance and method set_index() has been called for it like emp_1.fullname().

In [9]:
df

                        first     last
email
coreyschafer@email.com  Corey  Schafer
janedoe@email.com        Jane      Doe
johndoe@email.com        John      Doe

In [10]:
df.index # the email addresses work now as index positions and can be used to retrieve different values from the 
# dataframe.

Index(['coreyschafer@email.com', 'janedoe@email.com', 'johndoe@email.com'], dtype='object', name='email')

In [11]:
df.loc['coreyschafer@email.com'] # previously df.loc[0]. Now we can use email, or some other unique characteristic as 
# label to access the first row or the row for the given email index. loc for location.

first      Corey
last     Schafer
Name: coreyschafer@email.com, dtype: object

In [12]:
df.loc[['coreyschafer@email.com', 'janedoe@email.com']] # produces first two rows. DON'T FORGET INNER [].

                        first     last
email
coreyschafer@email.com  Corey  Schafer
janedoe@email.com        Jane      Doe

In [13]:
df.loc['coreyschafer@email.com', 'last'] # 'coreyschafer@email.com' takes us to the first row, and 'last' takes us to the
# 3rd column and produces 'schafer'. Or alternatively.

'Schafer'

In [14]:
df.loc['coreyschafer@email.com']['last'] # this resembles with nested squesce or nested list.

'Schafer'

In [15]:
df.iloc[0] # the integer indexing still works with iloc.

first      Corey
last     Schafer
Name: coreyschafer@email.com, dtype: object

In [16]:
df.iloc[0, 1] # or alternatively,

'Schafer'

In [17]:
df.iloc[0][1] # works like nested list.

'Schafer'

In [18]:
df.reset_index(inplace = True) # reset the index to origninal integer values as shown below.

In [19]:
df

                    email  first     last
0  coreyschafer@email.com  Corey  Schafer
1       janedoe@email.com   Jane      Doe
2       johndoe@email.com   John      Doe

In [20]:
df.iloc[0]

email    coreyschafer@email.com
first                     Corey
last                    Schafer
Name: 0, dtype: object