In [1]:
# Bismillah

In [2]:
people = {
    'first': ['Corey', 'Jane', 'John', 'Adam'],
    'last':  ['Schafer', 'Doe', 'Doe', 'Doe'],
    'email': ['CoreySchafer@gmail.com', 'JaneDoe@gmail.com', 'JohnDoe@gmail.com', 'Adam@gmail.com']
}

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(people)

In [5]:
df # currently, the rows seem to have been sorted by the index positions.

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       JaneDoe@gmail.com
2   John      Doe       JohnDoe@gmail.com
3   Adam      Doe          Adam@gmail.com

In [6]:
df.sort_values(by = 'last') # sort the values in column, last, by ascending order.

   first     last                   email
1   Jane      Doe       JaneDoe@gmail.com
2   John      Doe       JohnDoe@gmail.com
3   Adam      Doe          Adam@gmail.com
0  Corey  Schafer  CoreySchafer@gmail.com

In [7]:
df.sort_values(by = 'last', ascending = False) # sort the values in column, last, by descending order.

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       JaneDoe@gmail.com
2   John      Doe       JohnDoe@gmail.com
3   Adam      Doe          Adam@gmail.com

In [8]:
df.sort_values(by = ['last', 'first'], ascending = False) # sort both the columns, last and first, by descending order.
# Note that first sorting is done by 'last', and then without voilating this sorting, the sorting is done by 'first'.

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
2   John      Doe       JohnDoe@gmail.com
1   Jane      Doe       JaneDoe@gmail.com
3   Adam      Doe          Adam@gmail.com

In [11]:
df.sort_values(by = ['last', 'first'], ascending =[False, True]) # sort 'last' in descending and 'first' in ascending 
# order. Descending means moving from larger to smaller. Ascending means moving from smaller to larger.

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
3   Adam      Doe          Adam@gmail.com
1   Jane      Doe       JaneDoe@gmail.com
2   John      Doe       JohnDoe@gmail.com

In [12]:
df

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       JaneDoe@gmail.com
2   John      Doe       JohnDoe@gmail.com
3   Adam      Doe          Adam@gmail.com

In [13]:
df.sort_values(by = ['last', 'first'], ascending =[False, True], inplace = True)

In [14]:
df

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
3   Adam      Doe          Adam@gmail.com
1   Jane      Doe       JaneDoe@gmail.com
2   John      Doe       JohnDoe@gmail.com

In [15]:
df.sort_index() # to sort by index

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       JaneDoe@gmail.com
2   John      Doe       JohnDoe@gmail.com
3   Adam      Doe          Adam@gmail.com

In [17]:
df['last'].sort_values() # when we want to see the values sorted in a particular column.

3        Doe
1        Doe
2        Doe
0    Schafer
Name: last, dtype: object

In [ ]:
# Next go to the other data set. Start the video at 6:30.