In [1]:
# Bismillah

In [11]:
people = {
    'first': ['Corey', 'Jane', 'John'],
    'last':  ['Schafer', 'Doe', 'Doe'],
    'email': ['CoreySchafer@gmail.com', 'JaneDoe@gmail.com', 'JohnDoe@gmail.com']
}

In [16]:
people

{'first': ['Corey', 'Jane', 'John'],
 'last': ['Schafer', 'Doe', 'Doe'],
 'email': ['CoreySchafer@gmail.com', 'JaneDoe@gmail.com', 'JohnDoe@gmail.com']}

In [17]:
people['email']

['CoreySchafer@gmail.com', 'JaneDoe@gmail.com', 'JohnDoe@gmail.com']

In [13]:
import pandas as pd

In [14]:
df = pd.DataFrame(people)

In [15]:
df

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       JaneDoe@gmail.com
2   John      Doe       JohnDoe@gmail.com

In [19]:
df['email']

0    CoreySchafer@gmail.com
1         JaneDoe@gmail.com
2         JohnDoe@gmail.com
Name: email, dtype: object

In [20]:
type(df['email'])

pandas.core.series.Series

In [21]:
df.email

0    CoreySchafer@gmail.com
1         JaneDoe@gmail.com
2         JohnDoe@gmail.com
Name: email, dtype: object

In [23]:
df[['last', 'email']]

      last                   email
0  Schafer  CoreySchafer@gmail.com
1      Doe       JaneDoe@gmail.com
2      Doe       JohnDoe@gmail.com

In [24]:
type(df[['last', 'email']])

pandas.core.frame.DataFrame

In [25]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [27]:
df

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       JaneDoe@gmail.com
2   John      Doe       JohnDoe@gmail.com

In [26]:
df.iloc[0]

first                     Corey
last                    Schafer
email    CoreySchafer@gmail.com
Name: 0, dtype: object

In [28]:
type(df.iloc[0])

pandas.core.series.Series

In [30]:
df.iloc[[0, 1]]

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       JaneDoe@gmail.com

In [31]:
type(df.iloc[[0, 1]])

pandas.core.frame.DataFrame

In [32]:
df.iloc[[0, 1], 2]

0    CoreySchafer@gmail.com
1         JaneDoe@gmail.com
Name: email, dtype: object

In [34]:
df.iloc[[0, 1], [1, 2]]

      last                   email
0  Schafer  CoreySchafer@gmail.com
1      Doe       JaneDoe@gmail.com

In [35]:
df

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       JaneDoe@gmail.com
2   John      Doe       JohnDoe@gmail.com

In [36]:
df.loc[0]

first                     Corey
last                    Schafer
email    CoreySchafer@gmail.com
Name: 0, dtype: object

In [37]:
df.loc[[0,1]]

   first     last                   email
0  Corey  Schafer  CoreySchafer@gmail.com
1   Jane      Doe       JaneDoe@gmail.com

In [39]:
df.loc[[0, 1], 'email']

0    CoreySchafer@gmail.com
1         JaneDoe@gmail.com
Name: email, dtype: object

In [41]:
df.loc[[0, 1], ['last', 'email']]

      last                   email
0  Schafer  CoreySchafer@gmail.com
1      Doe       JaneDoe@gmail.com